body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  background-color: #fff !important;
}

.page-wrapper {
  margin-top: 150px;
  margin-left: 80px;
}

.container {
  max-width: 1000px;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.form-section {
  display: flex;
  flex-direction: column;
}

.tabsHeader {
  margin-bottom: 70px;
  box-shadow: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff !important;
}

.MuiTabs-flexContainer {
  display: flex;
  justify-content: center;
}

.tabButton {
  min-height: 51px;
  width: 100%;
}

.drawerNavs {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.drawerBottomNavs {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
